


//noode_modules
node_modules

//build
.next


//DS_Store
.DS_Store


//prisma
prisma/migrations
prisma/seed.ts
prisma/schema.prisma
prisma/seed.ts





//supabase
supabase/migrations
supabase/seed.ts
supabase/schema.prisma
supabase/seed.ts


//supabase
supabase/migrations
supabase/seed.ts
supabase/schema.prisma
supabase/seed.ts

//tasks
.tasksmasterconfig.json
tasks 

//cursor
